@import '../../../scss/variables.scss';

header.main-header {
  background: $secondary-color;

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1050px;
    margin: auto;
    color: $white;
    font-size: 0.9rem;

    .logo-section {
      display: flex;
      align-items: center;

      .primary-logo {
        height: 22px;
        fill: $primary-color;
      }

      .hamburger {
        display: none;
      }

      .main-menu {
        margin-left: 30px;
        a {
          padding: 13px 17px;
          color: $white;
          font-size: 0.8rem;

          &.active,
          &:hover {
            background: $primary-color;
            transition: 0.3s;
            color: $secondary-color;
          }
        }
      }

      @media screen and (max-width: 900px) {
        .main-menu {
          display: none;
        }

        .hamburger {
          display: inline-block;
          padding: 20px 25px;

          svg {
            font-size: 1.2rem;
          }
        }
      }
    }

    .user-menu {
      display: flex;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}
